<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busqueda</title>
</head>
<body>
    <br>
    <b> RESULTADO DE LAS BUSQUEDA</b>

    <form action="/busqueda" method="GET">
        Buscar: <input type="text" name="busq">
        <input type="submit" value="Buscar">

    </form>

    <br>
    <a href="/"> <b>HOME</b>  </a>

    <br>
    <br>
    <br>
    <br>


    {% for per in info %}

    <a href="/personaje/{{per.0}}"><li> <b> {{per.0}} </b></li> </a>

    {% endfor %}

    <br>
    <br>

    <!--
    {% for per in info %}
    <img src= {{per.8}} height="250" width = "260">
     <b><li> Nombre:</b>  {{per.0}} </li>      
    <li><b>  Ocupacion: </b>    

    {%for item in per.1%}
            
    <b1> {{item}}, </b1>       

    {% endfor %}
    </li>
    <li> Estado: {{per.2}}</li>        
    <li> Apodo: {{per.3}}</li>        
  
    <li><b> Temporadas de Breaking Bad donde aparece: </b>
    {%for item in per.4%}
            
            <a href="/index/Breaking%20Bad/{{item}}"> {{item}} </a>          

    {% endfor %}
    </li>
    <li>  Actor: {{per.5}}</li>        
    <li>  Serie: {{per.6}}</li>        
   
    <li><b> Temporadas de Better Call Saul donde aparece : </b>
        {%for item in per.7%}
                
                <a href="/index/Better%20Call%20Saul/{{item}}"> {{item}} </a>    

        {% endfor %}
        </li>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    {% endfor %} 
    -->


</body>
</html>