<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/busqueda" method="GET">
        Buscar: <input type="text" name="busq">
        <input type="submit" value="Buscar">

    </form>

    <br>
    <a href="/"> <b>HOME</b>  </a>

    <br>
    <br>
    <br>
    <br>
    

    

    <p> <b>Titulo: </b> {{matriz_info.0}} </p>
    <p> <b>Temporada: </b> {{matriz_info.1}} </p>
    <p> <b>Capitulo:</b> {{matriz_info.2}} </p>
    <p> <b>Fecha de estreno:</b> {{matriz_info.3}} </p>
    <p> <b>Personajes:</b>  </p>

    {%for item in matriz_info.4%}
              
            <li> <a href="/personaje/{{item}}"> {{item}} </a> </li>        

     

    {% endfor %}


    

</body>
</html>