<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <b1> Aqui deberia poder verse la info de un pesonaje selecionado:</b1>
    <b>  {{name_personaje}}</b>
    <br>
    <p>  Nombre: {{name}}</p>
    
    <p>  Ocupacion: {{occupation}}</p>
    
    
    
    <p> Estado: {{status}}</p>
    
    <p> Apodo: {{nickname}}</p>
    
    <p> Capitulos de Breaking Bad donde aparece:  {{appearance}}</p>
    <b> Temporadas: 
    {%for item in appearance%}
              
            <a href="/index/Breaking%20Bad/{{item}}"> {{item}} </a>  

     

    {% endfor %}
    </b>

    <p>  Actor: {{portrayed}}</p>
    
    <p>  Serie: {{category}}</p>
    
    <p>  Apariciones en Better Call Saul: {{better_call_saul_appearance}}</p>

    <b> Temporadas: 
        {%for item in better_call_saul_appearance%}
                  
                <a href="/index/Better%20Call%20Saul/{{item}}"> {{item}} </a>     
         
    
        {% endfor %}
        </b>

    <p>  LINK: de la imagen: {{img}}</p>
    <img src= {{img}}>
    






</body>
</html>