<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <form action="/busqueda" method="GET">
        Buscar: <input type="text" name="busq">
        <input type="submit" value="Buscar">

    </form>


    <br>
    <a href="/"> <b>HOME</b>  </a>

    <br>
    <br>
    <br>
    <br>

    <br>

    <img src= {{img}} height="250" width = "260">
      <br>
    <p> <b>Nombre:</b>  {{name}}</p>    
    <p> <b>Ocupacion:</b> 
    {% for item in occupation%}

    <b1> {{item}}, </b1>  
    {% endfor %}
    </p> 

    <p> <b>Estado:</b>  {{status}}</p>    
    <p> <b>Apodo:</b>  {{nickname}}</p>

  
    <b> <b>Temporadas en Breaking Bad: </b>
    {%for item in appearance%}
              
            <a href="/index/Breaking%20Bad/{{item}}"> {{item}} </a>  

     

    {% endfor %}
    </b>

    <p> <b>Actor: </b> {{portrayed}}</p>    
    <p> <b>Serie: </b> {{category}}</p>    
    

    <b> <b>Temporadas en Better call Saul: </b> 
        {%for item in better_call_saul_appearance%}
                  
                <a href="/index/Better%20Call%20Saul/{{item}}"> {{item}} </a>     
         
    
        {% endfor %}
        </b>

   
   
    






</body>
</html>