<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEMPORADAS</title>
</head>
<body>
    <b1> Aqui se listan las tempordas de cada serie, en este caso, BREAKING BAD y BETTER CAL SAUL</b1>    

    <ul>
        {%for item in matriz%}
        <p>{{item.0}}</p>

            {%for name in item%}  

                {% if name != item.0 %}
                <li> <a href="index/{{item.0}}/{{name}}"> Temporada {{name}} </a> </li>

                {% endif %}

            {% endfor %}

        {% endfor %}
       
    </ul>
    
</body>
</html>